/**********************Tag Selection**********************/

body {
  margin: 0;
  text-align: center;
  background-color:  #F9F4F2;
}

@media (min-width: 1080px) {
  body {
   width: 1080px;
   text-align: center;
   background-color:  #F9F4F2;
   margin: auto;
  }
}

hr {
  background-color: #F9F4F2;
  border-style: none;
  border-top-style: dotted;
  border-color: #D65A31;
  border-width: 9px;
  width: 70px;
  margin: 70px auto 70px auto;
}

h1, h2, h3, p, blockquote, pre, li, th, tr {
  color: #393E46;
  font-family: 'Montserrat', Verdana, Geneva, sans-serif;
}

h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

p {

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

blockquote {
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-size: 13px;
  font-weight: 400;
  line-height: 18.5714px;
}


li {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

a {
  color: #D65A31;
  font-family: 'Montserrat', Verdana, Geneva, sans-serif;
  margin: 10px 10px;
  text-decoration: none;
}

a:hover {
  color: #333333;
  text-decoration: none;
}

@media (max-width: 1080px) {
  h1, h2, h3, p, blockquote, pre, li, th, tr {
    color: #393E46;
    font-family: 'Montserrat', Verdana, Geneva, sans-serif;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
  }

  h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
  }

  h3 {
      font-size: 3rem;
      font-weight: 500;
      line-height: 4rem;
  }

  p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
  }
  li {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
  }
}

/**********************Class Selection**********************/

.container-fluid {
  padding: 20px 0;
}

.navbar {
    height: 70px;
}

.nav-item {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 100%;
  font-weight: 700;
}

.nav-item {
  font-family: 'Montserrat', Verdana, Geneva, sans-serif;
  font-size: 100%;
  font-weight: 700;
}

.collapse {
  width: 80px;
}

.navbaricon {
  width: 20%;
  float: left;
}

@media (max-width: 1080px) {
  .container-fluid {
    padding: 0 15%;
  }
  .navbar {
      height: 180px;
  }
  .navbaricon {
    width: 45%;
    float: left;
  }
}

.top-container {
  position: relative;
  text-align: center;
}

.top-img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  border-radius: 0 0 50% 50%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-text1 {
  color: white;
  font-size: 1rem;
  font-family: Arial Black, Geneva, sans-serif;
  /*text-shadow: -1px 0 Black, 0 1px Black, 1px 0 Black, 0 -1px Black;*/
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.top-text2 {
  color: white;
  font-size: 4rem;
  font-family: Arial Black, Geneva, sans-serif;
  /*text-shadow: -1px 0 Black, 0 1px Black, 1px 0 Black, 0 -1px Black;*/
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 1080px) {
  .top-text1 {
    color: white;
    font-size: 2rem;
    font-family: Arial Black, Geneva, sans-serif;
    /*text-shadow: -1px 0 Black, 0 1px Black, 1px 0 Black, 0 -1px Black;*/
    margin: 0;
    padding: 0 0 0.5rem 0;
  }

  .top-text2 {
    color: white;
    font-size: 6rem;
    font-family: Arial Black, Geneva, sans-serif;
    /*text-shadow: -1px 0 Black, 0 1px Black, 1px 0 Black, 0 -1px Black;*/
    margin: 0;
    padding: 0 0 2rem 0;
  }
}

.profile-box1 {
  width: 200px;
  height: 200px;
  margin: 100px auto 0;
  border-radius: 50%;
  background-color: #632617;
}

.profile-box2 {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  border-radius: 50%;
  background-color: #D65A31;
}

.profile {
  width: 200px;
  border-radius: 50%;
  margin: 50px;
}

@media (max-width: 1080px) {
  .profile {
    width: 200px;
    border-radius: 50%;
    margin: 5%;
  }

  .card {
    position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
      margin: 50px auto;
  }

  .project-collapes {
    line-height: 3;
    font-size: 1.5rem;
  }

  .project-btn {
    font-size: 2rem;
    width: 250px;
    height: 100px;
    padding: 25px;
  }
}

.profile-text {
  width: 40%;
  margin: 0 auto 0 auto;
}

.middle-container {
  padding-bottom: 20px;
}

.bottom-container {
  background-color: #d15232;
  padding: 20px 0 10px 0;
  margin: 0 auto 0 auto;
  border-radius: 500px 500px 0 0;
}

.row {
  margin: 0 10% 0 10%;
}

.my-project {
  margin-bottom: 50px;
}

.card-text{
  text-align: left;
}

.carousel-control-prev-icon {
  background-color: #767373;
  opacity: 0.7;
  padding: 50% 0;
  border-radius: 10px 0 0 10px;
}

.carousel-control-next-icon {
  background-color: #767373;
  opacity: 0.7;
  padding: 50% 0;
  border-radius: 0 10px 10px 0;
}

.carousel-item {
  padding: 5% 10%;
}

.interest-img {
  width: 100%;
}

.interesttext {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%;
  padding: 0 10%;
  color: #393E46;
}

.interestname {
  font-family: 'Lora', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  line-height: 120%;
  padding: 1% 10%;
  color: #393E46;
}

.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

@media (min-width: 1079px) {
  .centered-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    opacity: 0.7;
  }
  .interest-h3 {
    font-size: 1.5rem;
  }
}

.accordion {
  margin: 3% 5%;
}

@media (min-width: 1080px) {
  .accordion {
    margin: 3% 20%;
  }
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.role-tag {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  font-weight: 400;
  color: white;
}

.role-tag3 {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  font-weight: 400;
  color: #000;
}

@media (min-width: 1080px) {
  .role-tag {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: white;
  }

  .role-tag3 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #000;
  }
}

.role-img-btn {
  padding: 0 30px 0 0;
}

.collapse {
  width: 100%;
}

.role-img {
  width: 100%;
  padding: 1px 10px 0 0;
  border-radius: 5px;
}

.skill-icon {
  width: 2rem;
}

#flush-collapseTwo .skill-icon {
  width: 3rem;
}

#flush-collapseTwo .skill-icons {
  width: 5rem;
}

#flush-collapseThree .skill-icon {
  width: 3rem;
}

.contact-content {
  width: 40%;
  margin: 40px auto 20px auto;
}

.footer-link {
  color: #e8a390;
  font-family: Verdana, Geneva, sans-serif;
}

.footer-icon {
  width: 1.2rem;
}

.copy-right {
  color: #EAF6F6;
  font-size: 0.75em;
  margin: 30px 0;
}


#commentForm {
 margin: 0;
 padding: 0;
 height: 150px;
 font-family: 'Montserrat', Verdana, Geneva, sans-serif;
}

.cls {
 clear: both;
}

.container {
 width: 780px;
 min-height: 10px;
 margin: 50px auto;
 /* border: 1px solid #dfdfdf; */
}

.comment {
 min-height: 60px;
 text-align: left;
}

.comment-list {
  padding: 0 180px;
}

.comment-avatar img {
 margin: 20px 0 0 20px;
 width: 48px;
 height: 48px;
 border-radius: 50%;
}

.comment-content {
 width: 685px;
 padding-top: 15px;
 border-top: 1px solid #dfdfdf;
}

.comment-bottom>.comment-content {
 border-bottom: 1px solid #dfdfdf;
}

.comment-content-name {
 color: #6d757a;
 font-size: 16px;
 margin-bottom: 15px;
}

.comment-content-article {
 font-size: 18px;
 margin-bottom: 20px;
}

.comment-content-footer {
 color: #6d757a;
 font-size: 16px;
 margin-bottom: 15px;
}

.comment-content-footer span {
 margin-right: 10px;
}


.comment-send {
 position: relative;
 height: 200px;
 margin-bottom: 30px;
}

.comment-name {
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.3s;
  position: relative;
  right: 3.3rem;
  margin-bottom: 10px;
  resize: none;
  width: 605px;
  /* height: 65px; */
  padding: 10px;
  border-radius: 4px;
  background: #f4f5f7;
  border: 1px solid #e5e9ef;
}

.comment-send-input {
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.3s;
  position: relative;
  resize: none;
  width: 605px;
  /* height: 65px; */
  padding: 10px;
  border-radius: 4px;
  background: #f4f5f7;
  border: 1px solid #e5e9ef;
}

.comment-name:hover, .comment-name:active {
 background: #fff;
 color: #555;
}

.comment-send-input:hover, .comment-send-input:active {
 background: #fff;
 color: #555;
}

.comment-send-button {
  border: none;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  transition: all 0.3s;
  position: relative;
  bottom: 68px;
  /* right: 40px; */
  width: 100px;
  height: 140px;
  border-radius: 4px;
  background: #d15232;
  color: #fff;
  font-size: 14px;
  text-align: center;
 }
 .comment-send-button:hover {
   background: #FB643E;
 }


 @media (max-width: 1080px) {
   .comment-send {
    position: relative;
    height: 300px;
    margin-bottom: 30px;
   }
   #commentForm {
     width: 90%;
     margin: auto;
    padding: 0;
    height: 150px;
    font-family: 'Montserrat', Verdana, Geneva, sans-serif;
   }
   .comment-name {
     outline: none;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     transition: all 0.3s;
     position: relative;
     right: 0;
     margin-bottom: 10px;
     resize: none;
     width: 100%;
     padding: 10px;
     border-radius: 4px;
     background: #f4f5f7;
     border: 1px solid #e5e9ef;
   }
   .comment-send-input {
     outline: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      transition: all 0.3s;
      position: relative;
      resize: none;
      width: 100%;
      /* height: 65px; */
      padding: 10px;
      border-radius: 4px;
      background: #f4f5f7;
      border: 1px solid #e5e9ef;
   }
   .comment-send-button {
     border: none;
     cursor: pointer;
     user-select: none;
     -moz-user-select: none;
     transition: all 0.3s;
     position: relative;
     bottom: 0;
     width: 100%;
     height: 100px;
     border-radius: 4px;
     background: #d15232;
     color: #fff;
     font-size: 18px;
     text-align: center;
    }
    .comment-list {
      padding: 0 40px;
    }
    .comment-content {
     width: 100%;
     padding-top: 15px;
     border-top: 1px solid #dfdfdf;
    }
 }
